body.whole {
    background-color: rgb(85, 85, 224);
}
img {
    width: 10%;
    align-content: center;
}
h1.list {
    color: white;
    text-align: center;
}
h2.list {
    color: white;
    text-align: center;
}
