@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url(https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Charm:wght@400;700&display=swap);

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
nav{
    display: flex;
      justify-content: space-around;
  }
  nav a {
    text-align: center;
    text-decoration: none;
    color: #ffc517;
    padding: 35px;
  }
  nav a:hover {
    color: white;
    background-color: rgb(0, 174, 255);
  }
header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: navy;
    font-family: "Charm", Helvetica, sans-serif;
}
.logo {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
}

main{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: azure;
    padding: 10px;
    gap: 10px;
}
main.basics {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: azure; 
    padding: 10px;
}
main div {
  padding: 50px;
}
main img {
  margin: auto;
}
main.fundamentals {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: azure; 
  padding: 10px;
}
.homeintro{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 400px;
    height: 400px;
}
.homerules{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400px;
    height: 400px;
}
.homerotation{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 400px;
    height: 400px;
}
div{
    font-family: "Atkinson Hyperlegible Next", Helvetica, sans-serif;
}
.homeparagraph{
    grid-column: 2/5;
    grid-row: 1/2;
    font-size: larger;
}
.homeparagraphtwo {
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: larger;
}
.homeparagraphthree {
    grid-column: 2/5;
    grid-row: 3/4;
    font-size: larger;
}
footer {
    background-color: navy;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer a {
    color: #ffc517;
    text-decoration: none;
  }
  footer p {
      font-size: 1.2em;
      color: #ffc517;
  }
  footer p a:hover {
      text-decoration: underline;
  }
  footer a:hover {
    color: white;
    background-color: rgb(0, 174, 255);
  }
  .basicrotation {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .basicrules {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .rotationtext {
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .rulestext {
    grid-column: 2/5;
    grid-row: 2/3;
  }
  .rulestitle {
    grid-column: 2/5;
    grid-row: 2/3;
  }
  .rotationtitle {
    grid-column: 2/5;
    grid-row: 1/2;
  }
  h2 {
    font-family: "Charm",Arial, Helvetica, sans-serif;
  }
  h1 {
    font-family: "Charm",Arial, Helvetica, sans-serif;;
  }
  .recievingimg {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .settingimg {
    grid-column: 1/2;
    grid-row: 2/3;
  }